<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .center-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh; /* Set the height to 100% of the viewport height */
    }
  </style>
  <body>
    <div class="container mt-3">
     <h3 class="text-center font-weight-bold">Update Contract</h3>
     <form action="/edit" method="post">
        
        <input type="hidden" name="id" value="<%=data.id%>" >

        <label for="name">Name</label>
        <input type="text" name="name" value="<%=data.name%>"class="form-control">

        <label for="age">Age</label>
        <input type="text" name="age" value="<%=data.age%> "class="form-control">

        <label for="id_card">CCCD</label>
        <input type="text" name="id_card" value="<%=data.id_card%>" class="form-control">

        <label for="adress">Adress</label>
        <input type="text" name="adress" value="<%=data.adress%>" class="form-control">

        <label for="phone">Phone</label>
        <input type="text" name="phone" value="<%=data.phone%>" class="form-control">

        <label for="id_property">ID Contract</label>
        <input type="text" name="id_property" value="<%=data.id_property%>" class="form-control" readonly> 

        <label for="date_contract">DATE Contract</label>
        <input type="date" name="date_contract" value="<%=data.date_contract%>" class="form-control">

        <label for="value_contract">Value Contract</label>
        <input type="text" name="value_contract" value="<%=data.value_contract%>" class="form-control" readonly>

        <label for="price_stake">Price_deposit</label>
        <input type="text" name="price_stake" value="<%=data.price_stake%>" class="form-control">

        <label for="price_renk">Price_remaining</label>
        <input type="text" name="price_renk" value="<%=data.price_renk%>"s class="form-control">

        <!-- <label for="status">Status</label>
        <input type="text" name="status" value="<%=data.status%>" class="form-control"> -->
        <label>
          <select id="statusSelect" value={selectedOption} onChange={handleSelectChange}>
            <option value="option1">Hoạt Động</option>
            <option value="option2">Không Hoạt Động</option>
          </select>
        </label>
  

        <div class="center-button">
          <input type="submit" value="Update" class="font-weight-bold btn btn-primary mt-2">
        </div>
         <a class="font-weight-bold" href="/">Quay lại?</a>
     </form>
    </div>
  </body>
  


</html>